body {
  font-family: "Solway";
  background: #f0f9f4;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 50px;
  background: #f9fdfb;
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
@media (max-width:992px) {
  .quiz-img {
    display: none;
  }
  .quiz-box {
    width: 500px;
    
  }
}


h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #2b7a4b;
}

.question {
  font-weight: bold;
  margin-top: 20px;
}

.options label {
  display: block;
  margin: 8px 0;
}

button {
  display: block;
  margin: auto;
  margin-top: 50px;
  padding: 12px 20px;
  background: #2b7a4b;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 50%;
  font-size: 16px;
  transition: all 0.3s ease;
}

button:hover {
  background: #25663f;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: #444;
}
    .btn-home {
  background: linear-gradient(135deg, #2ecc71, #27ae60);
  color: #fff;
  padding: 12px 28px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
}

.btn-home:hover {
  background: linear-gradient(135deg, #27ae60, #1e8449);
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: #fff;
}